<Router AppAssembly="@typeof(Startup).Assembly">
    <Found Context="routedata">
        <RouteView RouteData="@routedata" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound >
        <p>Ssaryan, page not found</p>
    </NotFound>
</Router>