@inherits LayoutComponentBase

<div class="top-row px-4">
    <NavLink href="/start" Match="NavLinkMatch.Prefix">
        ссылка 1
    </NavLink>
     <br />
    <NavLink href="/depend">second</NavLink>
</div>
@Body