@page "/"
<html>
<head>
    <base href="~/" />


</head>
<body>
    <component  type="typeof(WebApplication6.App)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
